#user_jobs_table_wrapper{
    margin-top: 40px;
}

#stats-table-wrapper {
    margin-top: 20px;
}

.pagination {
    border: 1px solid #2c3e50;
    float: right;
    margin: 0;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #2c3e50;
    border-color: transparent;
    cursor: default;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    background-color: #20ac98;
    float: left;
    padding: 10px 15px;
    line-height: 1.42857143;
    text-decoration: none;
    margin-left: -1px;
}

.pagination > li > a:hover, .pagination > li > span:hover {
    background-color: #21b9a5;
}

#user_jobs_table_filter {
    float: right;
}

#user_jobs_table_filter input[type="search"] {
    margin-left: 10px;
}

.thead-inverse {
    background: #2c3e50;
    color: #ffffff;
}

.add_job_div {
    top: 41px;
    left: -15px;
}

.hidden-row-style{
    padding: 0;
}
#user_jobs_table td{border-top:0px !important; border-right:1px solid #fff !important;}

#stats_table_filter {
    float: right;
}

#stats_table_filter input[type="search"] {
    margin-left: 10px;
}

#progress_toggle .notActive{
    color: #2c3e50;
    background-color: #fff;
    border-radius: 5px;
}

#progress_toggle {
    border: 1px solid #2c3e50;
    border-radius: 6px;
}

.toggle-label {
    margin-top: 7px;
    padding: 0;
}
