<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="the-hive agent management system">
    <meta name="author" content="e.liyai">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='fonts/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    {% block styles %}
    {% endblock %}

</head>

<body id="page-top" class="index">

    <nav class="row navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header custom-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#platform-nav-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand custom-logo" href="/">the-hive</a>
          </div>

            {% if current_user.is_authenticated %}
                <div class="collapse navbar-collapse mobile-nav" id="platform-nav-toggle">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ url_for('profile') }}">
                                <i class="fa fa-user"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('availability') }}">
                                <i class="fa fa-hourglass-start"></i> Set Availability
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('help_page') }}">
                               <i class="fa fa-question"></i> Help
                            </a>
                        </li>
                        {% if user.role == 'ROLE_ADMIN'%}
                            <li>
                                <a href="{{ url_for('job_items') }}">
                                    <i class="sidebar-icon md-inbox"></i>
                                    Jobs Items
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('jobs') }}">
                                    <i class="sidebar-icon md-inbox"></i>
                                    Jobs
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('users') }}">
                                    <i class="sidebar-icon md-star"></i>
                                    List Users
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('rate') }}">
                                    <i class="sidebar-icon md-send"></i>
                                    Rates
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </nav>

    <!-- Content -->
    {% block content %}
    {% endblock %}

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <footer class="row text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>Nairobi, KENYA</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About the-hive</h3>
                        <p>email us for more info <a href="#">info@bhiveweb.com</a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; the-hive 2017, powered by Bhive Outsourcing
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>